#app{
  padding: 10px;
}
#app .ahead {
  margin-bottom: 10px;
  font-size: 18px;
}
.notify{
  border: 1px solid red;
  background: #ccc;
  margin-left: 100px;
}
#app table{
  border-collapse:collapse;
  margin-top: 10px;
}
.self{
  color: red;
}
.offline{
  background: #ddd;
}
#app table, #app th, #app td{
  border: 1px solid #ccc;
  font-size: 12px;
}
#app th, #app td{
  padding: 5px;
}
#app td button {
  padding: 3px 10px;
}
.auto-checkbox-wrapper {
  position: absolute;
  top: 176px;
  left: 700px;
  font-size: 16px;
}