.chrome-rbac-tools {
  /* background: #fff; */
  padding-left: 10px;
  padding-right: 30px;
  position: absolute;
  top: 70px;
  right: 0;
  text-align: right;
}
.chrome-rbac-button {
  padding: 4px 10px;
  margin-left: 6px;
  cursor: pointer;
  border-radius: 4px;
  color: #FF5000;
  background-color: #fff;
  border-color: #FF5000;
  outline: none;
}
.chrome-rbac-button:hover{
  background: #FF5000;
  color: #FFF;
}
.chrome-rbac-modal {
  position: absolute;
  right: 30px;
  width: 600px;
  top: 120px;
  z-index: 9999999;
}
.chrome-rbac-modal .chrome-rbac-textarea {
  display: block;
  width: 100%;
  height: 500px;
  padding:0 10px;
  background: #FFF;
  border: 1px solid #FF5000;
  border-radius: 6px;
  outline: none;
}
.chrome-rbac-modal-button {
  padding: 6px 15px;
  margin: 10px;
  cursor: pointer;
  color: #FF5000;
  background-color: #fff;
  border-color: #FF5000;
  outline: none;
  border-radius: 4px;
}
.chrome-rbac-modal-tools {
  text-align: right;
}
.text{
  color: #FF5000;
  padding-right: 20px;
}