.chrome-app-rbac {
  position: absolute;
  top: 88px;
  left: 40%;
  right: 10px;
}
.chrome-app-rbac .tools {
  text-align: right;
}

.chrome-app-rbac .rbac-export,
.chrome-app-rbac .rbac-copy,
.chrome-app-rbac .rbac-diff,
.chrome-app-rbac .rbac-import {
  padding: 4px 10px;
  margin-left: 6px;
}

.chrome-app-rbac .rbac-tree {
  margin-top: 10px;
}

.chrome-app-rbac .rbac-tree textarea {
  width: 100%;
  height: 300px;
}